<?xml version="1.0"?>
<launch>
    <arg name="use_dynamic" value="false" />
    <arg name="use_vision" value="true" />
    <include file="$(find qingzhou_bringup)/launch/qingzhou_bringup.launch">
        <arg name="use_vision" value="$(arg use_vision)"/>
    </include>
	
    <include file="$(find qingzhou_nav)/launch/l1_nav_blind.launch" />
    <include file="$(find qingzhou_locate)/launch/locate.launch" />
    <include file="$(find ackermann_cmd_filter)/launch/ackermann_cmd_filter.launch" />
    <include file="$(find qingzhou_bringup)/launch/dynamic.launch" if="$(arg use_dynamic)"/>

    <include file="$(find robot_vision)/launch/final_dete.launch" if="$(arg use_vision)"/>
</launch>
